@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* Adjusted width */
    margin: 0 auto; 
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 50px;
}

.top-bar span {
    color: #115742; /* Added color for text */
    font-size: large;
    gap: 10px;
    font-weight: 500;

}
.top-bar div {
    display: flex;
    gap: 20px;
}
.top-bar .social-icons {
    display: flex;
    gap: 10px;
    font-size: x-large;
    color: #115742; /* Added color for social icons */
    margin-right: 50px;
    
}
.top-bar a{
    color: #115742; /* Added color for links */
    text-decoration: none;
    font-weight: 500;
    font-size: large;
}
.top-bar .social-icons a {
    margin-left: 10px;
    color: inherit; /* Use the original icon color */
    font-size: x-large;
    color: inherit;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin-top: 1px; /* Adjusted margin top */
}

.nav-container img {
    height: 55px;
    vertical-align: middle;
    margin-left: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 85px;
    margin-top: 20px; /* Adjusted margin top */
}


nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 450;
    transition: color 0.3s;
    
}

nav ul li a:hover {
    color: #01ff4d;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px; /* Added gap in text decoration */
}

.auth-buttons a {
    padding: 9px 22px;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 8px;
}

.auth-buttons .sign-in {
    color: #1d8a69;
    margin-left: 80px;
    transition: color 0.3s;
}

.sign-in:hover {
    color: #01ff4d;
    
}

.auth-buttons .sign-up {
    background: #115742;
    color: #fff;
    border-radius: 20px;
    transition: background 0.3s;
    margin-right: 50px;
}

.sign-up:hover {
    background: #01ff4da6;
    color: #fff;

}

/* Hero Section */
.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    height: 510px;
    background: url('images/woman-sits-car-holds-out-her-hand-receive-car-keys\ 1.png')center/cover no-repeat;
}

.main h1 {
    position: absolute;
    top: 55%;
    left: 4%;
    font-size: 110px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added text shadow */
    letter-spacing: 2px; /* Added letter spacing */
    font-family:'Archivo Black', sans-serif,; /* Added font family */
    color: #ffffff;
}

.main p {
    position: absolute;
    top: 80%;
    left: 4%;
    margin-top: 0px;
    font-size: 18px;
    max-width: 600px;
    font-weight: 600;
    color: #0f5436;
    text-align: left;
}

/* Booking Section */
.booking-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 20px 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.479);
    margin-top: 60px;
    position: relative;
    border-radius: 30px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 50px;
}


.booking-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
    flex: 1;
    min-width: 250px;
    position: relative;
    padding-left: 32px;
}
.booking-item i {
    margin-right: 10px;
    position: absolute;
    left: 3px;
    top: 68%;
    transform: translateY(-50%);
}

.booking-item label {
    font-weight: 500;
    font-size: 14px;
    color: #808080;
    
}

.booking-item select, .booking-item input {
    border: 1px solid #ddd;
    background: #f9f9f9;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 9px;
    width: 100%;
    appearance: none; 
   
}
.booking-item select {
    background-image: url('images/right-arrow-svgrepo-com.svg'); /* Custom icon */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

.book-btn {
    background: #134E3C;
    color: #fff;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: medium;
    transition: background 0.3s;
    white-space: nowrap;
    margin-left: 2.5%; /* Adjusted margin to be closer to each box */
    margin-right: 3%;
    margin-top: 20px;
}

.book-btn:hover {
    background: #0F3D2E;
}

.container {
    max-width: 1300px; /* Increased max-width */
    margin: 40px auto; /* Adjusted margin */
    padding: 20px; /* Adjusted padding */
    border-radius: 10px; /* Adjusted border-radius */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text-content {
    max-width: 100%;
    flex: 1;
    margin: 50px auto;
}

.title {
    font-size: 50px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 20px; 
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    margin-left: 70px; /* Added margin to the left of the title */
  
}

.text {
    font-size: 23px;
    color: #000000;
    margin-top: 10px;
    line-height: 1.8;
    text-align: left;
    font-weight: 500;
    margin-left: 70px; 
}

.image {
    max-width: 100%;
    flex: 1;
    margin-top: 20px; /* Reduced gap between the image and text */
    margin-left: 5px; /* Added margin to the left of the image */
}

.image img {
    width: 115%; /* Made the image bigger */
    height: auto;
    border-radius: 8px;
}
.brands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    animation: scroll 20s linear infinite;
}

.brands img {
    flex-shrink: 0;
    max-width: 150px;
    height: auto;
    margin: 10px;
}
/* rental section main page */
.rental-section {
    padding: 20px;
    text-align: center;
    margin-top: 2%;
}

.discount {
    color: #158362;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.discount span {
    color: #158362;
    font-weight: 400;
}

.car-cards {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 5px 20px;
    margin-top: 30px;
    max-width: 100%;
}

.car-card:hover {
    background-color: #f0f0f0; /* Example hover effect */
    transform: scale(1.05); /* Slightly increase the size */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition */
}

.car-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.479);
    margin: 10px;
    padding: 30px;
    text-align: center;
    width: calc(33.333% - 25px); /* Adjusted width for inline display */
    display: inline-block;
    vertical-align: top; /* Added to align top */
    height: 100%; /* Ensure all cards have the same height */
    
}

.car-card img {
    width: 100%;
    height: auto; /* Ensure images maintain their aspect ratio */
    border-radius: 8px;
}

.car-card h3 {
    margin: 25px 0;
 text-align: center;
 font-size: large;

}

.car-card p {
    margin-top: 5px 0;
    text-align: justify;
    margin-bottom: 10px;

}
.car-card span {
    color: #000000;
    margin-right: 57%;

}

.car-card button {
    background-color: #115742;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: auto;
    display: inline-block;
    margin-right: 15px;
}

.car-card button:hover {
    background-color: #00b33cdc;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

hr {
    border: 0;
    height: 1px;
    background: #a0a0a0;
    margin: 15px 0;
}

.brands {
    animation: scroll 10s linear infinite; /* Increased speed */
}



/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 20px;
    }
    .auth-buttons {
        flex-direction: column;
        gap: 10px;
    }
    .main h1 {
        font-size: 2em;
    }
    .main p {
        font-size: 1em;
    }
    .booking-container {
        flex-direction: column;
        gap: 10px;
    }
    .booking-item {
        border-right: none;
        padding-right: 0;
    }
    .book-btn {
        width: 100%;
        padding: 10px;
    }
    .container {
        flex-direction: column;
        text-align: center;
    }
    .text-content, .image {
        max-width: 100%;
    }
}
@media (max-width: 480px) {
    header {
        padding: 10px 20px;
    }
    .top-bar div {
        flex-direction: column;
        gap: 5px;
    }
    .main h1 {
        font-size: 1.5em;
    }
    .main p {
        font-size: 0.8em;
    }
    .booking-container {
        padding: 15px 20px;
    }
    .book-btn {
        padding: 10px 20px;
    }
    .container {
        padding: 15px;
    }
    .title {
        font-size: 25px;
    }
    .text {
        font-size: 14px;
    }
}

footer {
    background-color: #115742;
    color: white;
    padding: 30px 70px;
    font-family: 'poppins', sans-serif;
    margin-top: 30px;

}

.footer-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    padding: 30px 30px;
    
}

.footer-logo {
    flex: 1 1 300px;
}

.footer-logo img {
    width: 200px; /* Adjust size of the logo */
}
.footer-logo p{
    font-size: 15px;
    font-weight: 400;
    margin-top: 50px;
    margin-right: 40px;
}

.footer-links {
    flex: 1 1 150px;
    margin: 0 20px;
}

.footer-links h3 {
    margin-bottom: 10px;
    font-weight: 400;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
    font-weight: 300;
}

.footer-newsletter p{
    flex: 5 3 200px;
    font-weight: 300;
    margin-top: 10px;
}

.footer-newsletter input {
    padding: 10px;
    width: 80%;
}

.footer-newsletter button {
    padding: 10px;
    position: absolute;
}

.footer-payment-methods {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.payment-methods img {
    width: 80px; /* Adjust size of payment logos */
    margin-top: 10px;
}

.payment-methods {
    flex: 1 1 150px;
    margin-top: 50px;
}

.payment-methods h3 {
    
    margin-bottom: 10px;
    font-weight: 400;
}

.footer-bottom p{
    margin-top: 20px;
    text-align: left;
    padding-top: 10px;
    font-weight: 300;
}

.footer-bottom .social-icons {
    text-align: right;
    font-weight: 300;
}

.footer-bottom .social-icons a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.login-container {
    background-color: #115742; /* dark green background */
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    color: white;
    width: 400px;
    position: relative; /* for positioning the car image */

}
/* Title */
.login-container h2{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.login-container p {
    margin-top: 2px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 300;
}

/* Input fields */
.input-field {
    margin-bottom: 20px;
}

/* Input styles */
.input-field input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* Login button */
.login-button {
    width: 100%;
    padding: 10px;
    background-color: #1d1b20; /* login button color */
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 17px;
}
.login-button:hover {
    background-color: #008E8E; 
}

.car-image {
    position: absolute;
    left: -60px; 
    top: -px; 
    width: 250px; 
}
.signup{
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    color: #f0f0f0;
    font-size: 12px;
}
.signup a{
    color: #2FCB9C;
    text-decoration: none;
    font-weight: 400;
    margin-left: 5px;
}
.forgot-password{
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    color: #f0f0f0;
    font-size: 12px;
    margin-left: 99px;
}
.checkbox {
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    margin-left: 10px;   
}
.input-field label {
    font-weight: 350;
    color: #f0f0f0;
    font-size: 15px;
    margin-left: 5px;
}

/* Responsive design */
@media (max-width: 760px) {
    .login-container {
        width: 90%;
    }

    .car-image {
        width: 150px; /* Adjust for smaller screens */
        right: -40px; /* Adjust accordingly */
    }
}
